body {
    background-color: #FFEF82;
    color: #82954B;
    padding: 20px;
    margin: 0px;
    padding: 0px;
}


h1 {
    text-align: center;
    font-family: 'Macondo', cursive;
    font-size: 4.5em;
}

.icon {
    text-align: center;
}

.recipes {
    border: 5px solid #BABD42;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: 10px;
}

img {
    width: 35%;
}

.recipes ul {
    list-style: none;
    padding-inline-start: 0px;

}

.recipes img {
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
}

.recipes div{
    margin: 30px;
    border: 5px solid #EFD345;
}

.recipes a {
    color: #82954B;
}

.headup {
    background-color: #82954B;
}

.headup img {
    width: 5%;
}

.headup input {
    margin: 10px;
    padding-top: 5px;
}

.headup button {
    padding-top: 5px;
}